.container{

    margin-top: 140px;
}

.col-md-4{
    text-align: justify;
}


.container-fluid{

    color: white;
    
}

.col-footer{
    
    color: white;
    padding-top: 30px;
}

.col{

    padding-top: 40px;
}

.container-content{

    padding-bottom: 150px;
}

.img-fluid{

    padding-bottom: 20px;
}

.row-dont{
    padding-bottom: 20px;
}